*{
    padding: 0px;
    margin: 0px;
}
body{
    margin: 100px;
    background-color: rgb(206, 214, 240);
}
header{
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    background-color: rgb(255, 255, 255) ;
    padding: 60px;
}
main{
    border: solid rgb(255, 255, 255) 2px;
    border-radius: 0px 0px 15px 15px;
    background-color: rgb(255, 255, 255)
}
.conteiner{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px 60px;
}
.item{
    margin: 40px;    
}
img{
    width: 50PX;
}
.caja{
    width: 360px;    
}
h1{
   font-family: Tahoma, sans-serif;
   color: rgb(14, 33, 89);  
   font-weight: bold;
}
p{
    color: rgb(87, 87, 87);
}
h3{
    color: rgb(21, 39, 92);
}
p, h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, fantasy;
}
.ser{
    color: rgb(66, 106, 227);
    font-weight: bold ;
}
